<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested file or directory exists, do nothing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, send to index.php
    RewriteRule ^ index.php [L]
</IfModule>
